@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

.material-symbols-outlined {
    font-size: 45px;
}

@media (max-width: 2000px) {
    * {
        margin: 0px;
        padding: 0px;
        font-family: "Contrail One";
    }

    img {
        cursor: pointer;
    }

    a {
        color: black;
        text-decoration: none;
        transition: 0.3s;
    }

    a:hover {
        opacity: 0.6;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: "Contrail One";
        background: #fff;
        height: 10vh;
        font-size: 18px;
    }

    .nav_list {
        list-style: none;
        display: flex;
        align-items: center;
    }

    .nav_list li {
        letter-spacing: 1px;
        margin-left: 32px;
    }

    .logo {
        height: 12vh;
    }

    .material-symbols-outlined {
        margin-left: 3rem;
        cursor: pointer;
        font-size: 40px;
    }

    main {
        display: grid;
        background-color: rgb(229, 223, 207);
        justify-items: center;
    }

    .itens {
        text-align: center;
        padding: 20px;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 26px;
    }

    .item {
        color: black;
        width: 20rem;
        height: 20rem;
        background-color: white;
        border-radius: 0.4rem;
        box-shadow: -3px 5px 0.7em black;
    }

    .carousel {
        width: 100%;
        height: 65vh;
        overflow: hidden;
        outline: 3px solid black;
        justify-content: center;
    }

    .carousel img {
        width: 1200px;
        object-fit: cover;
        height: 75vh;
    }

    .carousel ul {
        display: flex;
        list-style: none;
        width: 1900px;
        height: 65vh;
    }

    .carousel li {
        position: relative;
        animation: slide 18s infinite ease-out;
    }

    @keyframes slide {
        0% {
            left: 0px
        }

        11.1% {
            left: 0px
        }

        22.2% {
            left: -45%
        }

        33.3% {
            left: -45%
        }

        44.4% {
            left: -90%
        }

        55.5% {
            left: -90%
        }

        66.6% {
            left: -45%
        }

        77.7% {
            left: -45%
        }

        88.8% {
            left: 0px
        }

        99.9% {
            left: 0px
        }
    }

    footer {
        display: grid;
        justify-items: center;
        justify-content: center;
        background-color: rgb(56, 57, 59);
        height: 40vh;
    }

    .footer-itens {
        padding-top: 15px;
        color: white;
        height: max-content;
        font-size: 23px;
        display: grid;
        grid-template-columns: auto auto;
        gap: 10rem;
    }

    .footer-item-description {
        color: rgb(213, 213, 213);
        word-spacing: 20px;
        padding: 9px;
        font-size: 18px;
    }

    .footer-news-description {
        color: rgb(148, 148, 148);
        font-size: 15px;
    }

    #input-email {
        margin-top: 7px;
        width: 200px;
        height: 40px;
        background-color: rgb(86, 87, 89);
        border: 0px;
    }

    #input-email::placeholder {
        color: rgb(238, 238, 238);
    }

    #input-button {
        text-transform: uppercase;
        background-color: rgb(254, 230, 68);
        border: 0px;
        width: 80px;
        height: 40px;
        cursor: pointer;
    }

    hr {
        background-color: rgb(93, 93, 93);
        height: 1px;
        width: 100%;
        border: 0px;
    }
}

/* Media Queries */

/* Dispositivos com largura menor ou igual a 768px */
@media (max-width: 600px) {
    * {
        margin: 0px;
        padding: 0px;
        font-size: 1.1rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .material-symbols-outlined {
        display: flex;
        margin: 0px;
        padding-right: 5px;
        font-size: 50px;
    }

    main {
        width: 100%;
        height: max-content;
    }


    .nav_list li {
        display: none;
    }

    .carousel {
        display: flex;
        width: 350px;
        height: 30vh;
        overflow: hidden;
        outline: 3px solid black;
        justify-content: center;
    }

    .carousel img {
        width: 350px;
        height: 30vh;
    }

    .carousel ul {
        display: flex;
        list-style: none;
        width: 350px;
        height: 30vh;
    }

    .carousel li {
        position: relative;
        animation: slide 18s infinite ease-out;
    }

    .itens {
        text-align: center;
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .item {
        color: black;
        width: 18rem;
        height: 15rem;
        font-size: 0.9rem;
        background-color: white;
        border-radius: 0.2rem;
    }

    .item img {
        width: max-content;
    }

    @keyframes slide {
        0% {
            left: 0px
        }

        11.1% {
            left: 0px
        }

        22.2% {
            left: -350px
        }

        33.3% {
            left: -350px
        }

        44.4% {
            left: -700px
        }

        55.5% {
            left: -700px
        }

        66.6% {
            left: -350px
        }

        77.7% {
            left: -350px
        }

        88.8% {
            left: 0px
        }

        99.9% {
            left: 0px
        }
    }

    footer {
        height: 28vh;
    }

    .footer-itens {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.3rem;
    }

    .footer-item {
        font-size: 20px;
        padding-left: 8px;
    }

    .footer-item-description {
        word-spacing: 18px;
        padding: 9px;
        font-size: 15px;
    }

    .informations {
        display: none;
    }

    .footer-news-description label {
        color: rgb(148, 148, 148);
        font-size: 0.90rem;
        padding: 2px;
    }

    #input-email {
        margin-top: 0.4rem;
        color: rgb(238, 238, 238);
        width: 6rem;
        height: 2rem;
        font-size: 0.65rem;
        background-color: rgb(86, 87, 89);
        border: 0px;
    }

    #input-button {
        margin-top: 0.4rem;
        font-size: 0.6rem;
        text-transform: uppercase;
        background-color: rgb(254, 230, 68);
        border: 0px;
        width: 5rem;
        height: 2rem;
        cursor: pointer;
    }
}

@media (max-width: 1024px) {
    * {
        margin: 0px;
        padding: 0px;
        font-size: 1.1rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .material-symbols-outlined {
        display: flex;
        margin: 0px;
        padding-right: 5px;
        font-size: 50px;
    }

    main {
        width: 100%;
        height: max-content;
    }


    .nav_list li {
        display: none;
    }

    .carousel {
        display: flex;
        width: 350px;
        height: 30vh;
        overflow: hidden;
        outline: 3px solid black;
        justify-content: center;
    }

    .carousel img {
        width: 350px;
        height: 30vh;
    }

    .carousel ul {
        display: flex;
        list-style: none;
        width: 350px;
        height: 30vh;
    }

    .carousel li {
        position: relative;
        animation: slide 18s infinite ease-out;
    }

    .itens {
        text-align: center;
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .item {
        color: black;
        width: 18rem;
        height: 15rem;
        font-size: 0.9rem;
        background-color: white;
        border-radius: 0.2rem;
    }

    .item img {
        width: max-content;
    }

    @keyframes slide {
        0% {
            left: 0px
        }

        11.1% {
            left: 0px
        }

        22.2% {
            left: -350px
        }

        33.3% {
            left: -350px
        }

        44.4% {
            left: -700px
        }

        55.5% {
            left: -700px
        }

        66.6% {
            left: -350px
        }

        77.7% {
            left: -350px
        }

        88.8% {
            left: 0px
        }

        99.9% {
            left: 0px
        }
    }

    footer {
        height: 28vh;
    }

    .footer-itens {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.3rem;
    }

    .footer-item {
        font-size: 20px;
        padding-left: 8px;
    }

    .footer-item-description {
        word-spacing: 18px;
        padding: 9px;
        font-size: 15px;
    }

    .informations {
        display: none;
    }

    .footer-news-description label {
        color: rgb(148, 148, 148);
        font-size: 0.90rem;
        padding: 2px;
    }

    #input-email {
        margin-top: 0.4rem;
        color: rgb(238, 238, 238);
        width: 6rem;
        height: 2rem;
        font-size: 0.65rem;
        background-color: rgb(86, 87, 89);
        border: 0px;
    }

    #input-button {
        margin-top: 0.4rem;
        font-size: 0.6rem;
        text-transform: uppercase;
        background-color: rgb(254, 230, 68);
        border: 0px;
        width: 5rem;
        height: 2rem;
        cursor: pointer;
    }
}